*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* box sizing속성은 상속이 되지 않음.
  페이지 전체에 border box를 적용하기 위해 */
  box-sizing: inherit;
}
/* root 글꼴 크기 정의
유저의 글꼴 정의 적용 & 개발 편의상 10px -> 62.5% */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
